<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equip="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<title th:if="${evento.isNovo}">Cadastro de Eventos</title>
	<title th:unless="${evento.isNovo}">Edição de Evento</title>
	
      <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
      <link type="text/css" rel="stylesheet" th:href="@{materialize/css/materialize.min.css}"  media="screen,projection"/>
	  <link type="text/css" rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css}"/>
	  <link rel="stylesheet" th:href="@{materialize/css/styles.css}">
</head>
<body>
		<div th:insert="~{navbar :: cabecalho}"></div>

	<br>
	<div class ="container">
	     <th:block th:include="mensagemValidacao"></th:block>
		 <div class="row">
		 	<div class="col s12 m8">
			
			 <div class="card">
				<div class="card-content">
			  		<div class="row">
						<div class="col s12 m6 l6"><h4>Cadastro de Eventos</h4></div>
						<div class="col s12 m6 l6">
							<h5><a th:href="@{/listaEventos}" class="waves-effect waves-light btn right #2979ff blue accent-3"><i class="material-icons left">format_list_bulleted</i>Lista de Eventos</a></h5>
						</div>	
					</div>
			  		
							<form method="POST" th:object="${evento}" th:action="@{/cadastrarEvento}">
							   				    
						 <!--   th:action="${evento.novo} ? @{/cadastrarEvento} : @{/editarEvento/{codigo}(evento.codigo)}"> -->
							   				    
								
								<input type="hidden" th:field="*{codigo}"/>
							
								<div class="input-field col s12">
									<input type="text" th:field="*{nome}" id="nome" class="autocomplete" placeholder="Nome do Evento"/>
									<label for="nome"></label>
								</div>
								<div class="input-field col s12">
								   <input type="text"  name="local" th:field="*{local}" id="local" class="autocomplete" placeholder="Local"/>
								   <label for="local"></label>
								</div>
								<div class="input-field col s6">	
									<input type="text" class="datepicker" name="data" th:field="*{data}" id="data" />
									<label for="data"></label>
								</div>
								<div class="input-field col s6">	
									<input type="time" name="horario" th:field="*{horario}" id="horario" class="autocomplete" placeholder="Horário"/>
									<label for="horario"></label>
								</div>
								<div class="row">
									<div class="col s9 offset-s2">
									<a href="#"></a>
									<button type="submit" class="waves-effect waves-light btn right #2979ff blue accent-3">Salvar</button>
									</div>
								</div>		
							</form>
						</div>
			   		</div>
				</div>
		 	</div>
		</div>	
	</div>	
</div>	
	
	
<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" th:src="@{materialize/js/materialize.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>		
</body>
</html>	